/* PROYECTOS */

.project__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.project__p {
    padding-top: 0.4rem;
    font-size: $font-size-md;
    font-weight: 500;
}